{% load static %}
<header class="sc-fotOHu jZNmGX">
    <div class="sc-hBUSln lifGdB">
        <div class="sc-ksdxgE UanRf">
            <i role="button" tabindex="0" class="sc-fFeiMQ ppPgF ss-lnr-menu"></i>
            <a aria-label="Taskbuddy Dashboard" href="/dashboard/explore">
                <img class="sc-bqiRlB HWXNY"
                    src='{% static "tasky/images/logo.svg" %}'
                    alt="Taskbuddy logo" />
            </a>
            <div class="sc-bkkeKt ediqBW">
                <div data-testid="desktop-header-links">
                    <a class="sc-hKwDye jdRIua" href="/dashboard/referral?source=dashboard_advocate"><i
                            class="sc-eCImPb sc-jRQBWg qIhds iesyCq ss-lnr-gift"></i><span>Get $10</span></a>
                    <a class="sc-hKwDye igFwIh" href="/dashboard/explore"><i
                            class="sc-eCImPb qIhds ss-arrow-right"></i><span>Book a Task</span></a>
                    <a class="sc-hKwDye jdRIua" href="/dashboard/active"><i
                            class="sc-eCImPb qIhds ss-rkt-tasks"></i><span>My Tasks</span></a>
                    <a href="/accounts/profile" class="sc-dkPtRN kzIBOB"><i
                            class="sc-eCImPb qIhds ss-rkt-profile"></i><span>Account</span></a>
                </div>
            </div>
        </div>
    </div>
</header>