<div data-behavior="sticky-header-placeholder" style="">
    <header class="page-header js-page-header-menu-toggle desktop-header" style="">
        <div class="container--wide">
            <div class="row row--thin">
                <a aria-label="Menu" class="header__menu-toggle ss-icon ss-lnr-menu u-hidden--lg u-pull-left" data-behavior="toggle-sidebar-menu" href="javascript:void(0)"></a>
                <a aria-label="TaskRabbit Home" class="header__logo js-header-logo js-taskrabbit-logo" href="/"></a>
                <div class="header__navigation-container u-hidden--sm u-hidden--md js-header-navigation--desktop">
                    <a class="header__navigation-link" href="#locations">
                        <span>Locations</span>
                    </a>
                    <div class="header-popover-container u-hidden--sm u-hidden--md" data-behavior="toggle-services-dropdown">
                        <a class="header__navigation-link header__navigation-link--services" data-behavior="services-link" href="/services">Services</a>
                        <div class="header-popover is-hidden" data-behavior="services-list">
                            <span class="type__section-title header-popover__item">Popular Tasks</span>
                            <a class="header-popover__item" href="/services/handyman/assemble-furniture">Furniture Assembly</a>
                            <a class="header-popover__item" href="/services/handyman/wall-mount-tv">TV Mounting</a>
                            <a class="header-popover__item" href="/services/handyman">Handyman</a>
                            <a class="header-popover__item" href="/services/yardwork-removal/lawn-care">Lawn Care Services</a>
                            <a class="header-popover__item" href="/services/moving">Help Moving</a>
                            <a class="header-popover__item" href="/services/shopping-delivery/delivery-service">Delivery Service</a>
                            <a class="header-popover__item" href="/services/shopping-delivery/grocery-shopping">Grocery Shopping &amp; Delivery</a>
                            <a class="header-popover__item" href="/services/yardwork-removal/">Yard Work</a>
                            <a class="header-popover__item" href="/services/handyman/painting">Painting</a>
                            <a class="header-popover__item" href="/services/handyman/light-installation">Lighting Installation</a>
                            <a class="header-popover__item" href="/services/handyman/hang-pictures">Hang Pictures</a>
                            <a class="header-popover__item" href="/services/online-tasks">Virtual &amp; Online Tasks</a>
                            <a class="header-popover__item" href="/services/contactless">Contactless Tasks</a>
                            <a class="header-popover__item" href="/t/volunteer">Volunteer Help</a>
                            <a class="header-popover__item" href="/ikea">IKEA Services</a>
                            <a class="header-popover__item" href="/services">All Services</a>
                        </div>
                    </div>
                    <a class="header__navigation-link" href="/login?source=header">
                        <i class="ss-lnr-lock"></i>
                        <span>Sign up / Log in</span>
                    </a>
                    <a class="btn btn-small btn-secondary u-hidden--sm u-hidden--md tasker-signup-btn" href="/become-a-tasker" id="tasker-signup-btn">
                        <span>Become a Tasker</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>